.nav {
  display: flex;
  margin-bottom: 20px;

  background-color: var(--primary);
}

.link {
  padding: 15px 30px;

  font-weight: 600;
  text-decoration: none;
  color: var(--white);

  &--active {
    color: var(--primary);

    background-color: var(--white);
  }
}
