.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: -10px;

  border: none;
  border-radius: 50%;

  cursor: pointer;

  &--transparent {
    background-color: transparent;
  }

  svg {
    width: 12px;
    height: 12px;
  }
}
