// $black: #3b434e;
// $gray-light: #ebebeb;
// $gray: #a4a4a4;
// $gray-dark: #787d85;
// $white: #ffffff;
// $primary: #546da5;
// $primary-hover: #3f5992;
// $red-light: #fea291;
// $green: #1dc37e;
// $green-light: #c8f8e4;

$primary: #6600ff;
$secondary: #ffbb00;

$white: #ffffff;

$black: #000000;
$black-primary: #333333;
$black-secondary: #222222;
$black-tertiary: #4a4a4a;

$input: #666666;
$placeholder: #777777;
$stroke-gray: #eaeaea;

$background: #ffffff;

$red: #fc836d;
